<div class="reservation">

  <div class="images" *ngIf="space?.photos">

    <nz-carousel [nzEffect]="'scrollx'" [nzEnableSwipe]="false">
      <div nz-carousel-content *ngFor="let photo of space.photos">
        <img [src]="photo">
      </div>
    </nz-carousel>

  </div>

  <div class="date">

    <div>Reservation period::</div>
    <nz-range-picker style="margin-left:20px;"
                     [nzShowTime]="{ nzFormat: 'HH:mm' }"
                     nzFormat="yyyy-MM-dd HH:mm"
                     [nzPlaceHolder]="['Start Time', 'End Time']"
                     [(ngModel)]="dateRange"
                     (nzOnOk)="onDateOk($event)"
                     [nzDisabledDate]="disableDate"
    ></nz-range-picker>

    <div class="total" *ngIf="dateRange?.length">Total: <span style="font-weight: 900">{{getTotalPrice()}}</span></div>
    <button nz-button nzType="primary" (click)="reserve()" [disabled]="!dateRange?.length">Reserve</button>
  </div>

  <div class="info" *ngIf="space">

    <div class="top">
      <div class="name">{{space.name}}</div>
      <div class="price">{{space.price}}&euro;/hr</div>
    </div>

    <div class="middle">
      <div class="description">
        {{space.description}}

        <div class="amenities" *ngIf="space.amenities">

          <div class="title">Amenities</div>

          <div class="amenity" *ngIf="space.amenities?.wifi">
            <div class="icon">
              <i nz-icon nzType="wifi" nzTheme="outline"></i>
            </div>
            <div class="name">WiFi</div>
          </div>

          <div class="amenity" *ngIf="space.amenities?.everyChairHasAComputer">
            <div class="icon">
              <i nz-icon nzType="laptop" nzTheme="outline"></i>
            </div>
            <div class="name">Every chair has a computer</div>
          </div>

          <div class="amenity" *ngIf="space.amenities?.heatingAc">
            <div class="icon">
              <i nz-icon nzType="dashboard" nzTheme="outline"></i>
            </div>
            <div class="name">Heating / Air Conditioning</div>
          </div>

          <div class="amenity" *ngIf="space.amenities?.projector">
            <div class="icon">
              <i nz-icon nzType="eye" nzTheme="outline"></i>
            </div>
            <div class="name">Projector</div>
          </div>

          <div class="amenity" *ngIf="space.amenities?.soundSystem">
            <div class="icon">
              <i nz-icon nzType="sound" nzTheme="outline"></i>
            </div>
            <div class="name">Sound system</div>
          </div>

          <div class="amenity" *ngIf="space.amenities?.toilet">
            <div class="icon">
              <i nz-icon nzType="home" nzTheme="outline"></i>
            </div>
            <div class="name">Toilet</div>
          </div>

        </div>

        <div class="amenities" *ngIf="(host$ | async) as host">
          <div class="title">Host</div>
          <div class="details">
            <div class="picture">
              <img [src]="host.photo_url">
            </div>
            <div class="info">
              <span
                style="font-weight: 900">Name: </span>{{ host.first_name | titlecase}} {{ host.last_name | titlecase}}
              <br>
              <span style="font-weight: 900">Date of birth: </span>{{ host.birth | date:'dd.MM.yyyy.'}}</div>
          </div>
        </div>

      </div>

      <div class="score" *ngIf="space.rating !== null"><span>★</span>{{ space.rating }}</div>
    </div>

    <div class="map" *ngIf="mapCenter">
      <mgl-map
        [style]="'mapbox://styles/iv-hakaton/ck4ijykdt09sy1cmkyx8eywoy'"
        [zoom]="[12]"
        [center]="mapCenter">
        <mgl-marker [lngLat]="markerCoords">
          <div class="marker"></div>
        </mgl-marker>
      </mgl-map>
    </div>

    <div class="host"></div>
  </div>
</div>
